:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: #342e12;
    --color-white: #fff;
    --color-light: #e8d1d1;
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
  }

  .container {
    width: var(--container-width-lg);
    margin: 0 auto;
   }

  nav{
        
        width: 100vw;
        height: 5rem;
        position: fixed;
        top:0;
        z-index: 11;

    }

    .window-scroll{
        background: var(--color-primary);
        box-shadow: 0 1rem 2rem rgba(0, 0,0,0.2);
    }

    .nav__container  {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav button{
        display: none;
    }
    .nav__menu{
        display: flex;
        align-items: center ;
        gap: 4rem ;
    }
    
    .nav__menu a{
        font-size: 0.9rem;
        transition:var(--transition);
    }
    
    .nav__menu a:hover {
        color: var(--color-bg2);
    }


  
  html {
    box-sizing: border-box;
    background: var(--color-bg);
  }
  
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    margin: 10px;
    background: var(--color-bg);
    font-family: Helvetica, sans-serif;
  }
  
  section {
    padding: 36px 2% 36px;
  }
  
  .msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 80%;
    max-width: 867px;
    margin-top: 50px;
    border: 15px solid var(--color-bg2);
    border-radius: 2px;
    background: var(--color-bg);
    height: 700px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  }

  .msger-header-title{
    align-items: center;
    justify-content: center;
  }
  
  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  
  .msger-chat::-webkit-scrollbar-track {
    background: var(--color-white);
  }
  
  .msger-chat::-webkit-scrollbar-thumb {
    background: var(--color-light);
  }
  
  .msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    color: #c1b5b5;
  }
  
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--color-bg1);
  }
  
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  
  .right-msg .msg-bubble {
    background: var(--color-bg2);
    color: var(--color-white);
    border-bottom-right-radius: 0;
  }
  
  .msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: 2px solid var(--color-bg2);
    background: var(--color-bg1);
  }
  
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
  
  .msger-input {
    flex: 1;
    background: var(--color-white);
  }
  
  .msger-send-btn {
    margin-left: 10px;
    background: var(--color-success);
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
  }
  
  .msger-send-btn:hover {
    background: var(--color-success);
  }
  