html{
    scroll-behavior: smooth;
}

 * {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     text-decoration: none;
     list-style: none;
     box-sizing: border-box;
   }

   :root{
      --color-primary: #6c63ff;
      --color-success: #00bf8e;
      --color-warning: #f7c94b;
      --color-danger: #f75842;
      --color-danger-variant: #342e12;
      --color-white: #fff;
      --color-light: #e8d1d1;
      --color-black: #000;
      --color-bg: #1f2641;
      --color-bg1: #2e3267;
      --color-bg2: #424890;

      --container-width-lg: 76%;
      --container-width-md: 90%;
      --container-width-sm: 94%;

      --transition: all 400ms ease;

   }

   body {
    font-family: "Montserrat",sans-serif ;
    list-style: 1.7;
    color: var(--color-white);
    background: var(--color-bg); 
   }

   .container {
    width: var(--container-width-lg);
    margin: 0 auto;
   }

   section{
    padding: 6rem 0;
   }

   section h2 {
    text-align: center;
    margin-bottom: 4rem;
   }

   h1,h2,h3,h4,h5 {
    line-height: 1.2;
   }

   h1{
    font-size: 2.4rem;
   }

   h2{
    font-size: 2rem;
   }

   h3{
    font-size: 1.6rem;
   }

   h4{
    font-size: 1.3rem;
   }

   a{
    color:var(--color-white);
   }

   img{
    width: 100%;
    display: block;
    object-fit: cover;

   }

   .btn{
    display: inline-block;
    background: var(--color-danger);
    color: var(--color-white);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
   }

   .btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color:var(--color-white) ;
    }

    .btn-primary{
        background: var(--color-danger);
        color: var(--color-white);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
      }

      .outer-box{
        background-color: var(--color-bg1);
      padding: 20px;
      box-shadow: #0e0d0d;
      width: auto;
      border: 2px solid var(--color-primary);
      border-radius: 2px;
      display: inline-block; 
      text-align: center;
      }
    

    nav{
        background: transparent ;
        width: 100vw;
        height: 5rem;
        position: fixed;
        top:0;
        z-index: 11;

    }

    .window-scroll{
        background: var(--color-primary);
        box-shadow: 0 1rem 2rem rgba(0, 0,0,0.2);
    }

    .nav__container  {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav button{
        display: none;
    }
    .nav__menu{
        display: flex;
        align-items: center ;
        gap: 4rem ;
    }
    
    .nav__menu a{
        font-size: 0.9rem;
        transition:var(--transition);
    }
    
    .nav__menu a:hover {
        color: var(--color-bg2);
    }
    
    
    /* ============== HEADER =========================== */
    header{
        position: relative;
        top: 5rem ;
        overflow: hidden;
        height: 70vh;
        margin-bottom: 5rem ;
    
    }
    
    .header__container {
        display: grid ;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 5rem;
        height: 100%;
    }
    
    .header__left p{
        margin: 1rem 0 2.4rem;
    }
    /* ============== CATEGORIES =========================== */
    .reward{
          width : 320% ;
        height : 620px ; 
        padding: 30px;
        background-color: var(--color-bg2);
    }
    
    .categories{
        background-color: var(--color-bg1);
        height: 32rem;
    }
    .categories h1{
        line-height: 1;
        margin-bottom: 3rem;
    
    }
    
    .categories__container {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    
    .categories__left {
        margin-right: 4rem;
    }
    
    .categories__left p{
        margin:  1rem 0 3rem;
    }
    .categories__right{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        gap: 1.2rem;
    }

    .rewards{
        text-align: center;
        align-items: center;
    }

    .category {
        background-color: var(--color-bg2);
        padding:2rem;
        border-radius: 2rem;
        transition: var(--transition);
    }
    .category:hover {
        box-shadow: 3 3rem 3rem rgba(0, 0,0,0.3);
        z-index: 1;
    }
    .category:nth-child(2).categories__icon{
        background: var(--color-danger);

    }
    .category:nth-child(1).categories__icon{
        background: var(--color-success);
        
    }
    .category:nth-child(3).categories__icon{
        background: var(--color-warning);
        
    }
    .category:nth-child(6).categories__icon{
        background: var(--color-bg1);
        
    }
    .category:nth-child(5).categories__icon{
        background: var(--color-light);
        
    }
    .category:nth-child(4).categories__icon{
        background: var(--color-primary);
        
    }
    
    .categories__icon{
        background:var(--color-primary) ;
        padding: 0.7rem;
        border-radius: 0.9rem;
    }
    .category h5{
        margin: 2rem 0 1rem;
    }

    .category p {
        font-size: 0.85rem;
    }

    .courses {
        text-align: center;
        margin-top: 0rem ;
    }

    .courses__container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }

    .course {
        background: var(--color-bg1);
        text-align: center;
        border: 1px solid  transparent;
        transition: var(--transition);
    }

    .course:hover {
        background: transparent ;
        border-color: var(--color-primary);
    }
    
    .course__image {
        height:230px;
    }
    .course__info {
        padding: 2rem;
    }

    .course__info p {
        margin: 1.2rem 0 2rem;
        font-size: 0.9rem;
    } 

    .course h4{
        margin-bottom: 1rem;
    }

    .faqs {
        background: var(--color-bg1);
        box-shadow: inset 0 0 3rem rgba(0, 0,0,0.5);
    }

    .faqs__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .faq {
        padding: 2rem;
        display: flex;
        align-items: center;
        gap: 1.4rem;
        height: fit-content;
        background: var(--color-primary);
        cursor: pointer;
    }

    .faq h4 {
        font-size:1rem ;
        line-height: 2.2;
    }

    .faq__icon {
        align-self: flex-start;
        font-size: 1.2rem;
    }

    .faq p {
        margin-top: 0.8rem;
        display: none;
    }

    .faq.open p {
        display:block ;
    }

    .discoures{
        background-color: var(--color-bg1);
        height: auto;
    }

  
    .swiper-container {
        background-color: var(--color-bg1);
        width: 100%;
        height: 60%;
        padding: 20px;
    }

    .testimonils__container {
        overflow-x: hidden;
        text-align: center;
        position: relative;
        margin-bottom: 5rem;
    }

    .testimonial {
        padding-top: 2rem;
    }

    .avatar-H {
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 1rem;
        border: 0.8rem solid var(--color-bg1);
    }

    .avatar {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 1rem;
        border: 0.5rem solid var(--color-primary);
    }

    .testimonial__info {
        text-align: center;
    }

    .testimonial__body {
        background: var(--color-primary);
        padding: 2rem;
        margin-top: 2rem;
        height: 6rem;
        position: relative;
        width: 50%;
        margin-left: -25%;
        left: 50%;
    }

    .testimonial__body p {
        align-items: center;

    }

    .testimonial__body::before {
        content: "";    
        display: block;
        background: linear-gradient(135deg, transparent, var(--color-primary), var(--color-primary), var(--color-primary));
        width: 3rem;
        height: 5rem;
        position: absolute;
        left: calc(50% - 2.1rem);
        top: -1.5rem;
        transform: rotate(45deg);
        z-index: -1;
    }

      
    .footer {
        background-color: var(--color-bg2);
        padding: 2rem 0;
      }
      
      .footer__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
      }
      
      .footer__1 {
        flex-basis: 30%;
        margin-bottom: 1.5rem;
        color: var(--color-white);
      }
      
      .img_logo {
        max-width: 200px;
        height: auto;
        margin-bottom: 1rem;
      }
      
      .footer__1 h4 {
        font-size: 1.2rem;
        font-weight: bold;
      }
      
      .footer__2,
      .footer__3,
      .footer__4 {
        flex-basis: 20%;
        margin-bottom: 1.5rem;
        color: var(--color-white);
      }
      
      .footer__2 h4,
      .footer__3 h4,
      .footer__4 h4 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      
      .permalinks {
        list-style: none;
        padding: 0;
      }
      
      .permalinks li {
        margin-bottom: 0.5rem;
      }
      
      .permalinks li a {
        color: var(--color-white);
        text-decoration: none;
      }
      
      .footer__4 p {
        margin-bottom: 0.5rem;
      }
      
      .footer__socials {
        display: flex;
        align-items: center;
      }
      
      .footer__socials li {
        margin-right: 1rem;
      }
      
      .footer__socials li:last-child {
        margin-right: 0;
      }
      
      .footer__socials a {
        color: var(--color-white);
        text-decoration: none;
        font-size: 1.2rem;
      }
      
      .footer__copyright {
        text-align: center;
        margin-top: 2rem;
        color: black;
      }
      
      .small_link {
        font-size: 0.8rem;
        color: black;
        text-decoration: none;
      }
      
      .small_link:hover {
        text-decoration: underline;
      }
      

/* =================media==================*/
@media screen and (max-width: 1024px){
    .container {
        width: var(--container-width-md);
    }
    h1{
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4{
        font-size: 1.2rem;
    }





/*===============navbar================*/
nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
}

nav button #close-menu-btn {
    display: none;
}

.nav__menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
    transition: opacity 1s ease-in-out;
}


.nav__menu li {
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 1s linear forwards;
    transform-origin: top right;
}

.nav__menu li a {
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}


.reward{
    width : 350% ;
    height : 600px ;
}




/*===============================header==================================================*/
header {
    height: 52vh;
    margin-bottom: 4rem;

}

.header__container {
    gap: 0;
    padding-bottom: 3rem;
}

/*============================category==================================================*/

.categories {
    height: auto;

}

.categories h1 {
    text-align: center;
}

.categories__container {
    grid-template-columns: 1fr;
    gap: 3rem;
}

.categories__left {
    margin-right: 0;

}

/*===============================popular course==================================================*/
.course {
    margin-top: 0;

}

.courses__container {
    grid-template-columns: 1fr 1fr ;

}


/*=============================== FAQ==================================================*/
.faqs__container{
    grid-template-columns: 1fr;
}

.faq {
    padding: 1.5rem;
}

/*===============================footer ==================================================*/

.footer__container {
    grid-template-columns: 1fr 1fr ;
}
}
/*===============================media (phones)==================================================*/

@media screen and (max-width: 600px){
.container{
    width: var(--container-width-sm);
}

/*===============================NAVBAR==================================================*/
.nav__menu {
    right: 3%;
}
/*================================header==================================================*/
header {
    height: 100vh;
}

.reward{
    width : 100% ;
    height : 600px ;
}

.header__container{
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
}

.header__left p {
    margin-bottom: 1.3rem;

}

/*===============================catergories==================================================*/
.categories__right {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
}
.category{
    padding: 1rem;
    border-radius: 1rem;
}

.category__icon {
    margin-top: 4px;
    display: inline-block;
}

/*===============================course==================================================*/
.courses__container{
     grid-template-columns:1fr ;
}

/*===================================testimonial=============================================*/
.testimonial__body {
    padding: 1.2rem;
    height: 60%;
}


.img

/*===============================footer==================================================*/
.footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__1,
  .footer__2,
  .footer__3,
  .footer__4 {
    flex-basis: 100%;
    text-align: center;
  }

  .footer__1 h4,
  .footer__2 h4,
  .footer__3 h4,
  .footer__4 h4 {
    margin-bottom: 0.5rem;
  }

  .footer__socials {
    justify-content: center;
    margin-top: 1rem;
  }
}
